page-login {
 
  
    .icons1{
        text-align:center !important;
        font-size:30px;
        color:#43609c;
        cursor: pointer;
    }
    .icons2{
        text-align:center !important;
        font-size:30px;
        cursor: pointer;
    }
    .icons3{
        text-align:center !important;
        font-size:30px;
        color:#ea4335;
        cursor: pointer;
    }
    .icons4{
        text-align:center !important;
        font-size:30px;
        
        cursor: pointer;
    }

    .rowMediaSocial{
        margin-top:28px;
    }
    .login100-form-title.p-b-48{
        margin-bottom:20px;
    }
    h6{
        color:red;
    }
    .social-button-facebook{
        background:#3b5998;
    }
    .social-button-google{
        background:#d9534f;
    }
    .social-button-github{
        background:#444444;
    }
    .social-button-anonimo{
        background:#777700;
    }
    .buttonlogin{
        background: transparent;
       
    }
    #divbutton{
        background: #a64bf4;
    }
    #boasvindas{
        text-align:center;
    }

    .icons1{
        text-align:right;
        font-size:30px;
        color:#43609c;
        cursor: pointer;
    }
    .icons2{
        text-align:center;
        font-size:30px;
        cursor: pointer;
    }
    .icons3{
        text-align:left;
        font-size:30px;
        color:#ea4335;
        cursor: pointer;
    }
    .icons4{
        text-align:left;
        font-size:30px;
        
        cursor: pointer;
    }
    .b{
        color:#a64bf4 !important;
    }
    .u{
        color:red;
    }
    .r{
        color:#43609c;
    }
    .e{
        color: #ea4335;
    }
    .a{
        color:#a64b4f;
    }


    
}