page-register {

    #cadastro{
        text-align:center;
    }
    h6{
        color:red;
    }
    #imgFundo{
        text-align:center;
        
    }
    
    .b{
        color:#a64bf4 !important;
    }
    .u{
        color:red;
    }
    .r{
        color:#43609c;
    }
    .e{
        color: #ea4335;
    }
    .a{
        color:#a64b4f;
    }
 
}
