<ion-header>
    <ion-navbar no-border-bottom color = 'primary'>
      <ion-title>
        Conteúdo
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click) = 'goPageHome()'>
            <ion-icon name='home'></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="categoria">
        <ion-segment-button value="pdf">
          PDF
        </ion-segment-button>
        <ion-segment-button value="videos">
          Vídeos
        </ion-segment-button>
        <ion-segment-button value="imagens">
          Imagens
        </ion-segment-button>
        <ion-segment-button value="texto">
          Texto
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div [ngSwitch]="categoria">
        
       
        <div *ngSwitchCase="'pdf'">
            <h6 *ngIf= "lenghtPDF > 0">Arraste para o lado para visualizar as opções.</h6>
          <ion-list >
              <div *ngFor="let item of dadosBasicos | async">
                <ion-item-sliding *ngIf=" item.tipo.indexOf('application') === 0 && lenghtPDF >0 " >
                    <ion-item><ion-icon ios="ios-document" md="md-document"></ion-icon>
                        {{item.nome}}
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color='list'(click)="openPDF(item.url)"> <ion-icon ios="ios-eye" md="md-eye"></ion-icon></button>
                        <button ion-button color='secondary'(click)="download(item.url,item.nome)"> <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon></button>                        
                    </ion-item-options>
                  
                </ion-item-sliding>
              </div>
            </ion-list>    
              <ion-card *ngIf = "lenghtPDF <= 0 " >
                <img src="assets/imgs/dados_pdf.png" width="350px" height="350px"/>
                <ion-card-content>
                  <ion-card-title>
                    Não possui dados.
                    </ion-card-title>
                  <p>
                    Não foi cadastrado dados para esse tópico.
                  </p>
                </ion-card-content>
              </ion-card>
        </div>
        
        <div *ngSwitchCase="'videos'" >
            <div *ngFor="let item of (arrayVideos | async)">
              <div *ngIf= "lenghtVideos > 0">
                <ion-card  >            
                    <ion-card-header>
                      {{item.titulo}}
                      </ion-card-header>
                      <ion-card-content>
                          <iframe width="100%" height="315" [src]="item.embed | youtube" frameborder="0" allowfullscreen ></iframe>
                      </ion-card-content>            
                  </ion-card> 
              </div>
            </div>
            <ion-card *ngIf = "lenghtVideos <= 0 " >
                <img src="assets/imgs/dados_videos.png" width="350px" height="350px"/>
                <ion-card-content>
                  <ion-card-title>
                    Não possui dados.
                    </ion-card-title>
                  <p>
                    Não foi cadastrado dados para esse tópico.
                  </p>
                </ion-card-content>
              </ion-card>      
          
        </div>
  
      <ion-list *ngSwitchCase="'imagens'">
        <ion-grid *ngIf="lenghtImagens >0">
          <ion-row>
               <div *ngFor="let item of (dadosBasicos | async)">
                  <ion-col col-6 col-md-4 col-xl-3 *ngIf="item.tipo.indexOf('image') ===0">                
                      <img src="{{item.url}}" class="thumb-img" imageViewer/>                              
                  </ion-col>
                </div>     
          </ion-row> 
        </ion-grid>                         
        <ion-card *ngIf = "lenghtImagens <= 0 " >
            <img src="assets/imgs/dados_imagens.png" width="350px" height="350px"/>
            <ion-card-content>
              <ion-card-title>
                Não possui dados.
                </ion-card-title>
              <p>
                Não foi cadastrado dados para esse tópico.
              </p>
            </ion-card-content>
          </ion-card> 
      </ion-list>

      <ion-list *ngSwitchCase="'texto'">
        <div *ngIf = "lenghtTexto > 0">
          <div *ngFor="let item of (dadosBasicos | async)">
              <div *ngIf="item.tipo === 'Texto'">
                <ion-card>    
                    <ion-card-header>
                      Equipe Bureau
                    </ion-card-header>
                  
                    <ion-card-content>
                     {{item.valor}}
                    </ion-card-content>                  
                  </ion-card>
              </div>
            </div>
        </div>
        <ion-card *ngIf = "lenghtTexto <= 0 " >
            <img src="assets/imgs/dados_texto.png" width="350px" height="350px"/>
            <ion-card-content>
              <ion-card-title>
                Não possui dados.
                </ion-card-title>
              <p>
                Não foi cadastrado dados para esse tópico.
              </p>
            </ion-card-content>
          </ion-card>       
      </ion-list>

    </div>
  </ion-content>